.App {
  text-align: center;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #eb1b24;
}

h2 {
  font-size: calc(12px + 2vmin);
  font: sans-serif;
}


.Reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 90%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Review-container {
  height: 15vh;
  width: 90%;
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}

.Review-card {
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  border: #eb1b24 2px solid;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.image-container {
  justify-items: center;
  align-items: center;
  display: flex;
  width: 15vw;
  height: 15vw;
  flex-shrink: 1;
  margin: 2%;
}

.Review-card-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  flex-shrink: 1;
}

.Review-details {
  width: 40vw;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  font-size: calc(2px + 2vmin);
  line-height: calc(2px + 2vmin);
}

.Review-card-votes {
  margin: 2%;
  font-size: calc(1px + 2vmin);
  line-height: calc(1px + 2vmin);
}

.Categories {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Category-card {
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  border: #eb1b24 2px solid;
  background-color: white;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  height: 15vh;
  display: grid;
  grid-template-areas: "title" "desc";
  grid-template-columns: 1fr 2fr;
  overflow: hidden;
  flex-basis: 100%;
  box-sizing: content-box;
}

.category-card-title {
  grid-area: "title";
  text-transform: uppercase;
  font-size: calc(8px + 2vmin);
}

.category-card-description {
  grid-area: "desc";
  font-size: calc(8px + 2vmin);
  height: 12vh;
  overflow: hidden;
}

.Single-Review {
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  border: #eb1b24 2px solid;
  background-color: white;
  max-width: 100%;
  min-width: 300px;
  max-height: 100vh;
}

.review-img {
  max-width: 50vw;
  max-height: 25vh;
}

.Comments-Section {
  border-top:black solid 1px;
  margin-top: 2vh;
}

.comment-container {
  border-radius: 10px;
  border: #eb1b24 .5px solid;
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin-bottom: 2vh;
}

.Comments-display {
  margin-top: 2vh;
}

.Comments-Section > form > input {
  width: 90vw;
  height: 5vh;
  display: flex;
  flex-wrap: wrap;
}

.review-category > span {
  text-transform: capitalize;

}

button {
  background-color: #eb1b24;
  color: white;
  border: black solid .5px;
  font-weight: bold;
}